@font-face {
    font-family: 'TimerULiL';
    src: url(./fonts/CursedTimerUlil-Aznm.ttf) format('truetype');
}

body {
    margin: 0;
    background-color:  #1B244A;
    color:  #EEEEEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: large;
    justify-content: center;
    align-items: center;

 
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px; 
}

span {
    justify-content: center;
    align-items: center;
    background: #080001;
    width: 155px;
height: 120px;
top: 125px;
left: 82px;
gap: 0px;
border-radius: 5px ;
opacity: 1;

color: #F94F6D;

font-family: 'TimerULiL', sans-serif;
font-size: 90px;
font-weight: 400;
line-height: 126.67px;
text-align: center;
 margin-bottom: 10px;

 display: block;
 
 }
 
button{
    width: 45px;
height: 45px;
top: 271px;
left: 82px;
gap: 0px;
border-radius: 5px ;

border: 2px solid #9AABD8;
color: #9AABD8;
background-color: #1B244A ;
 margin: 5px;
 
}

#new-game {
    display: block;
    margin: 20px auto; /* Wyśrodkowanie przycisku */
    padding: 10px 20px;
    width: 150px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #9AABD8;
    color: #9AABD8;
    background-color: #1B244A;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#new-game:hover {
    background-color: #9AABD8;
    color: #1B244A;
}